.padding-left-10{
    padding-left: 10px;
}
.padding-right-10{
    padding-right: 10px;
}


.margin-left-10{
    margin-left: 10px;
}
.margin-right-10{
    margin-right:10px;
}

.icon-xitongjiaoseyingyong{
     color:#11ddaa;
 }
.icon-xitongguanli-{
     color:#fad36c;
 }
.icon-caozuoxitong{
     color:#fb56cf;
 }
.icon-apixitongrizhi{
     color:#12bbfc;
 }
.icon-drgspingtairuanjianxitong37{
     color:#fca03b;
 }
.icon-xitongguanli{
     color:#16d2ba;
 }
.icon-xitongpeizhi{
     color:#12b6fd;
 }
.icon-navicon-xtpz{
    color:#fb36b9;
}
.el-message-box{
   width:300px;
}

/* 搜索框样式 */
.select-time{
    display: flex;
    align-items: center;
}
.el-date-editor.el-input{
    width: 120px;
}
.el-input__inner{
    height:32px;
}
/* 日期范围 */
.data-range {
    padding:6px 10px;
}
.data-range .line{
    margin:0 3px;
}
.data-range button{
    float:right;
    padding:8px 18px;
}

/*输入框蒙版*/
.input-mark{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.8);
    z-index:10;
}
.input-mark section{
    padding:50px 10px 20px;
    background:#ffffff;
}
.input-mark section input{
    height:32px;
    border:1px solid #bfcbd9;
}
.input-mark .textarea-container{
    display: flex;
    padding: 0;
}
.input-mark .textarea-container textarea{
    border-radius: 4px 0 0 4px;
}
.input-mark .textarea-container button{
    border-left:none;
    border-radius: 0 4px 4px 0;
}