html,body,#root,.flex-container{
  width:100%;
  height:100%;
  overflow: hidden;
}
.flex-container{
  display: flex;
  flex-direction: column;
}
.flex-container .container{
  height:calc(100vh - 46px);
  overflow: hidden;
}