.notice-screen{
    /*width:100vw;*/
    /*height:100vh;*/
    width:calc(100vw - 60px);
    height:calc(100vh - 60px);
    padding:30px;
    background-image: url(../image/screen-logo.png),linear-gradient(#004ba8,#010d63);
    background-size: 90vh 50vh,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}
.notice-screen header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:20px;
    height:50px;
    line-height: 50px;
    font-size: 36px;
    color:#50eff3;
    background: #003875;

}
.notice-screen header p:first-child{
    flex-grow: 1;
    margin-left: 320px;
    text-align: center;

}
.notice-screen header p:last-child{
    margin-right: 20px;
    font-size: 28px;
}
.notice-screen .notice-select{
    margin-left: 20px;
}
.notice-screen .notice-select .el-input__icon+.el-input__inner{
    font-weight: bold;

}
.notice-screen .table-container{
    margin: 0 20px;
    font-size: 32px;
    color:#ffffff;
    height:calc(100% - 90px);
    overflow: hidden;
}
.notice-screen .table-container table{
    width:100%;
    border-top:1px solid #0096ff;
    border-left:1px solid #0096ff;
}
.notice-screen .table-container table th,.notice-screen .table-container table td{
    height:50px;
    line-height: 50px;
    text-align: center;
    border-right:1px solid #0096ff;
    border-bottom:1px solid #0096ff;
    overflow: hidden;
}