.service-home{
    background:#f4f4f4;
}
.service-home .bar{
    display: flex;
    padding-top:20px;
    margin-bottom:10px;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,#37c3fe,#2f8fff);
}
.service-home .bar .del{
    display: flex;
    align-items: center;
    width: calc(100% - 20px);


}
.service-home .bar .del .t{
    margin-left: 10px;
}
.service-home .bar .user{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    width: 96px;
    margin-bottom:10px;
    border-radius: 100%;
    background:radial-gradient(#fff 49%,#81c8fe 51%,#81c8fe 60%,#4da9ff 62%);

}
.service-home .bar .user div{
    width: 72%;
    height: 72%;
    border-radius: 100%;
    background: url("../image/s-l.png") no-repeat center;
    background-size: 100% 100%;
    overflow: hidden;
}
.service-home .bar p{
    margin-bottom:10px;
    color:#ffffff;
}
.service-home ul{
    margin-left:10px;

}
.service-home ul li{
    float: left;
    margin-right:10px;
    margin-bottom:10px;
    width:calc(50% - 10px);
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 5px #d2d7db;
    background:#ffffff;

}
.service-home ul li a{
    display: flex;
    padding-top:16px;
    flex-direction: column;
    align-items: center;

}
.service-home ul li section{
    width:50px;
    height:50px;
    margin-bottom:10px;
    border-radius: 50%;
}
.service-home ul li:first-child section{
    background:#f8bb50 url("../image/s-m.png") no-repeat center;
    background-size: 36px 36px;
}
.service-home ul li:nth-child(2) section{
    background:#40ced2 url("../image/s-j.png") no-repeat center;
    background-size: 36px 36px;
}
.service-home ul li:nth-child(3) section{
    background:#47db8f url("../image/s-q.png") no-repeat center;
    background-size: 32px 32px;
}
.service-home ul li:nth-child(4) section{
    background:#ef696a url("../image/s-h.png") no-repeat center;
    background-size: 32px 32px;
}


